.menu {

   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: 1fr;
   position: fixed;
   left: 0;
   top: 0;
   height: 100vh;
   width: 100vw;
   box-sizing: border-box;
   padding: 0px 80px;
   background-color: #202020;
   z-index: 44;


   @include xs {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      padding: 0;
   }

   @include sm {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      padding: 0;
   }

   @include md {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      padding: 0;
   }


   a {
      font-family: map-get($fonts, main-font);
      font-size: 41px;
      color: #fff;
      font-weight: 700;
      text-decoration: none;
      position: relative;
      float: left;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

   }

   .text-decoration {
      text-decoration: line-through;
   }

   .menu-left,
   .menu-center,
   .menu-right {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-left: 1px solid rgba(247, 247, 247, 0.253);
      opacity: 1;
      cursor: pointer;

      &:hover {
         background-color: rgba(54, 54, 54, 0.493);
      }

      font-family: "Montserrat";
      font-size: 41px;
      color: #fff;
      font-weight: 700;

   }


   .menu-left {
      @include xs {
         grid-row-start: 1;
         grid-row-end: 2;
         place-self: stretch;
         border-bottom: 1px solid rgba(247, 247, 247, 0.253);
      }

      @include sm {
         grid-row-start: 1;
         grid-row-end: 2;
         place-self: stretch;
         border-bottom: 1px solid rgba(247, 247, 247, 0.253);
      }

      @include md {
         grid-row-start: 1;
         grid-row-end: 2;
         place-self: stretch;
         border-bottom: 1px solid rgba(247, 247, 247, 0.253);
      }


   }

   .menu-center {
      @include xs {
         grid-row-start: 2;
         grid-row-end: 3;
         place-self: stretch;
         border-bottom: 1px solid rgba(247, 247, 247, 0.253);
      }

      @include sm {
         grid-row-start: 2;
         grid-row-end: 3;
         place-self: stretch;
         border-bottom: 1px solid rgba(247, 247, 247, 0.253);
      }

      @include md {
         grid-row-start: 2;
         grid-row-end: 3;
         place-self: stretch;
         border-bottom: 1px solid rgba(247, 247, 247, 0.253);
      }

   }

   .menu-right {
      @include xs {
         grid-row-start: 3;
         grid-row-end: 4;
         place-self: stretch;
         border-bottom: 1px solid rgba(247, 247, 247, 0.253);
      }

      @include sm {
         grid-row-start: 3;
         grid-row-end: 4;
         place-self: stretch;
         border-bottom: 1px solid rgba(247, 247, 247, 0.253);
      }

      @include md {
         grid-row-start: 3;
         grid-row-end: 4;
         place-self: stretch;
         border-bottom: 1px solid rgba(247, 247, 247, 0.253);
      }

      // &:hover {
      //    background-image: url(./../.../../../img/about-menu-bg.jpg);
      //    background-size: cover;
      //    background-repeat: no-repeat;
      //    animation-name: menu-bg-hover-animation;
      //    animation-duration: .3s;

      // }
   }
}


// animations 
@keyframes menu-bg-hover-animation {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}

.hover-about {
   grid-template-columns: 50% 25% 25% !important;

}

.hover-portfolio {
   grid-template-columns: 25% 50% 25% !important;
}

.hover-contact {
   grid-template-columns: 25% 25% 50% !important;
}