 .hamburger {
   //  padding: 15px 15px;
   display: inline-block;
   cursor: pointer;
   transition-property: opacity, filter;
   transition-duration: 0.15s;
   transition-timing-function: linear;
   font: inherit;
   color: inherit;
   text-transform: none;
   background-color: transparent;
   border: 0;
   margin: 0;
   //  position: absolute;
   //  right: 0px;
   top: 10px;
   z-index: 100;
   overflow: visible;
   right: 10px;
 }

 .hamburger {
   padding: 20px;
   position: fixed;
   //  background: #ffc83d;
   right: 10px;
 }

 .hamburger:hover {
   opacity: 0.7;
 }

 .hamburger.is-active:hover {
   opacity: 0.7;
 }

 .hamburger.is-active .hamburger-inner,
 .hamburger.is-active .hamburger-inner::before,
 .hamburger.is-active .hamburger-inner::after {
   background-color: rgb(255, 255, 255);

 }

 .hamburger-box {
   width: 25px;
   height: 24px;
   display: inline-block;
   position: relative;
 }

 .hamburger-inner {
   display: block;
   top: 50%;
   margin-top: -2px;
 }

 .hamburger-inner,
 .hamburger-inner::before,
 .hamburger-inner::after {
   width: 24px;
   height: 2px;
   background-color: rgb(255, 255, 255);
   border-radius: 4px;
   position: absolute;
   transition-property: transform;
   transition-duration: 0.15s;
   transition-timing-function: ease;
 }

 .hamburger-inner::before,
 .hamburger-inner::after {
   content: "";
   display: block;
 }

 .hamburger-inner::before {
   top: -7px;
 }

 .hamburger-inner::after {
   bottom: -7px;
 }


 .hamburger--vortex .hamburger-inner {
   transition-duration: 0.2s;
   transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
 }

 .hamburger--vortex .hamburger-inner::before,
 .hamburger--vortex .hamburger-inner::after {
   transition-duration: 0s;
   transition-delay: 0.1s;
   transition-timing-function: linear;
 }

 .hamburger--vortex .hamburger-inner::before {
   transition-property: top, opacity;
 }

 .hamburger--vortex .hamburger-inner::after {
   transition-property: bottom, transform;
 }

 .hamburger--vortex.is-active .hamburger-inner {
   transform: rotate(765deg);
   transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
 }

 .hamburger--vortex.is-active .hamburger-inner::before,
 .hamburger--vortex.is-active .hamburger-inner::after {
   transition-delay: 0s;
 }

 .hamburger--vortex.is-active .hamburger-inner::before {
   top: 0;
   opacity: 0;
 }

 .hamburger--vortex.is-active .hamburger-inner::after {
   bottom: 0;
   transform: rotate(90deg);
 }


 .sticky {
   position: fixed;
 }


 button.hamburger.hamburger--vortex.sticky {
   @include xs {
     width: 100%;
     position: fixed;
     top: 0;
     background-color: #202020;
     z-index: 99999;
     opacity: .6;
   }
 }

 span.hamburger-box {
   @include xs {
     position: absolute;
     right: 30px;
   }
 }