.more {
  background-image: url(../../../img/more-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  @include xs {
    background-position-x: 59%;
  }

  @include sm {
    background-position-x: 59%;
  }

  @include md {
    background-position-x: 59%;
  }

  .portfolio-content {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    overflow: hidden;
    height: calc(100vh - 100px);
    margin: 0 auto;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      margin: 0 auto;
      position: relative;
      top: 20%;
      left: -2%;
    }

  }

  .portfolio-item {
    p {
      @include xs {
        padding-left: 0;
      }
    }
  }

}


.tags {
  a {
    color: #fff !important;
    font-weight: bold;
    text-decoration: none;
    margin: 10px 0px;
    display: block;

    &:after {
      content: '';
      display: block;
      width: 100px;
      height: 2px;
      margin-top: 6px;
      background-color: #fff;
    }
  }

  @include xs {
    margin-top: 50px;
  }
}