.portfolio-nav {
   grid-column-start: 2;
   grid-column-end: 3;
   grid-row-start: 1;
   grid-row-end: 2;  
   padding: 30px 0px;
   overflow: hidden;
   
   ul {
      list-style-type: none;
      display: inline-block;  
      position: relative;
      right: -400px;
      
      li {
         float: left;
        
         a {
            font-family: map-get($fonts , sec-font );
            font-size: 26px;
            color: #fff;
            text-decoration: none;          
            line-height: 80px;      
            margin: 0px 20px;                    
         }

        .prev{
           margin: 0px 2px;
        }
         
      }
   }
}