.whatabout {
  background-image: url(../../../img/wa-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  @include xs {
    background-position-x: 59%;
  }

  @include sm {
    background-position-x: 59%;
  }

  @include md {
    background-position-x: 59%;
  }

  p.tags {
    @include xs {
      background-color: #79c1c1;
      padding: 18px 20px;
      position: absolute;
      bottom: 0;
      width: 100%;
    }

  }

  .portfolio-item {

    span {

      @include xs {
        position: absolute;
        bottom: 70px;
        right: 37px;
        z-index: 3;
      }
    }
  }

  .portfolio-content {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    overflow: hidden;
    height: calc(100vh - 100px);
    margin: 0 auto;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      margin: 0 auto;
      position: relative;
      top: 20%;
      left: -2%;
    }

  }

}