// 
//  Jarosław Filipiak --> www.j-filipiak.pl
//  info@j-filipiak.pl
//                                                  

@import 'other/reset';
@import 'setup';

@import 'nav/sidebar';
@import 'nav/menu';

@import 'pages/homepage';
@import 'pages/about';
@import 'pages/contact';
@import 'pages/blog';

@import 'other/hamburger';
@import 'other/scrollbar';

@import 'single';

.portfolio-filters {
    width: 100vw;
    padding-bottom: 40px;
    text-align: center;

    ul {
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            padding: 0px 10px;
        }
    }
}